#header .site-name-text {
  padding-left: 1rem;
  font-weight: 700;
  //font-size: 2em;

  @media screen and (max-width: 480px){
    font-size: calc( 100vw / 24);
  }
}

#header-container {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;

  @media screen and (max-width: 834px){
    padding: 5px 0;
  }
}

/* グローバルナビ */
#navi {
  position: relative;
}

#navi .navi-in > ul > li > a {
  padding: 0 2rem !important;
}

.navi-in > ul .sub-menu li {
  position: relative;
  left: -2px;
  width: calc(100% + 4px);
  background-color: #3d88ca !important;

  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 1px solid #fff;
}

.menu-item {
  border-right: 2px solid #fff;
}

.menu-item:first-of-type {
  border-left: 2px solid #fff;
}

#header-main {
  position: relative;
}

#header-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  .catch {
    color: #333;
    font-size: calc(100vw / 48);
  }

  .name,
  .date,
  .time {
    //min-width: 1280px;
    margin: 1rem 0;
    color: rgb(255, 187, 0);
    font-weight: 700;
    line-height: 1.2;
    text-shadow: #fff 2px 0, #fff -2px 0,
    #fff 0 -2px, #fff 0 2px,
    #fff 2px 2px, #fff -2px 2px,
    #fff 2px -2px, #fff -2px -2px,
    #fff 1px 2px, #fff -1px 2px,
    #fff 1px -2px, #fff -1px -2px,
    #fff 2px 1px, #fff -2px 1px,
    #fff 2px -1px, #fff -2px -1px;
  }

  .name {
    font-size: calc(100vw / 24);
  }

  .name_decoration {
    display: inline-block;
    position: relative;
    width: calc(100vw / 15);
    height: calc(100vw / 15);
    padding: 0 .5rem;

    img {
      width: 100%;
      vertical-align: bottom;
    }
  }

  .date,
  .time {
    font-size: calc(100vw / 36);
    line-height: 1.35;
  }

  .date {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.main-catch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  max-width: 840px;

//height: 20rem;
  margin: 3rem auto;
}

.poetry {
  position: relative;
  width: 50%;
  height: 100%;
  font-weight: 700;
  font-size: 2.4rem;
  font-family: "Noto Serif JP", serif;
  text-align: center;

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  p {
    position: relative;
    margin: 0;
    line-height: 1.8;
  }
}

.poetry.nb-01 {
  p:nth-of-type(1) {
    left: -3.6rem;
  }

  p:nth-of-type(3) {
    right: -3rem;
  }
}

.poetry.nb-02 {
  p:nth-of-type(1) {
    left: -3.6rem;
  }

  p:nth-of-type(2) {
    left: -1rem;
  }

  p:nth-of-type(3) {
    left: 0;
  }

  p:nth-of-type(4) {
    right: -3rem;
  }
}

@media screen and (max-width:840px) {
  .main-catch {
    flex-flow: column wrap;
    height: 40rem;
  }

  .poetry {
    width: 80%;
    height: 50%;
    margin: auto;
  }
}

@media screen and (min-width:841px) {
  .main-catch {
    flex-flow: row wrap;
    height: 20rem;
  }
}

.menu-drawer .sub-menu {
  padding-left: 10px;

  a {
    font-size: .9rem;

    &::before {
      content: " - ";
    }
  }
}

.widget_recent_entries {
  font-size: 1rem;
}
