#gallery {
  section {
    margin: 4.8rem 0;
  }

  table.contestant {
    width: 80%;
    margin-left: 1.5rem;

    td {
      border: none;
    }
  }

  h2,
  h3 {
    margin: 1.2rem 0;
  }

  p {
    margin-bottom: 1.2rem;
  }

  @media screen and (max-width:480px) {
    table.contestant {
      width: 100%;
      margin: auto;

      td {
        display: block;
        text-align: center;
      }
    }
  }
}

#media_archive {
  margin: 6.4rem 0;

  //アイテムが奇数個の時に幅いっぱいになってしまう仕様の修正
  @media screen and (max-width: 600px) {
    .blocks-gallery-item {
      max-width: calc(50% - 1em) !important;
    }
  }
}

.post-38 .entry-title,
#media_archive h1 {
  /* 過去の大会見出し */
  max-width: 640px;
  margin: 0 auto 5rem;
  color: #0066bf;
  font-size: 1.8rem;
  line-height: 1.8;

  border-bottom: 8px double #0066bf;
}