#overview {
  .viewing_application {
    margin: 6rem auto;
    text-align: center;

    a {
      display: inline-block;
      width: 100%;
      max-width: 720px;
      padding: .8rem 0;
      border: .65rem double #fff;
      border-radius: 1.6rem;
      background-color: #0066bf;
      color: rgb(255, 187, 0);
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.2;
      text-decoration: none;
      text-shadow: #fff 2px 0, rgb(168, 152, 152) -2px 0,
        #fff 0 -2px, #fff 0 2px,
        #fff 2px 2px, #fff -2px 2px,
        #fff 2px -2px, #fff -2px -2px,
        #fff 1px 2px, #fff -1px 2px,
        #fff 1px -2px, #fff -1px -2px,
        #fff 2px 1px, #fff -2px 1px,
        #fff 2px -1px, #fff -2px -1px;
      transition: .5s;

      &:hover {
        transform: scale(1.05);
        opacity: .85;
      }
    }
  }

  ul {
    max-width: 720px;
    margin: 3rem auto;
    padding-left: 0;

    //text-align: center;
    @media screen and (max-width:840px) {
      padding-left: 0;
    }

    li {
      margin-bottom: .5rem;
      margin-left: 5px;
      list-style-type: none;
    }

    .overview_inner {
      padding: 5px;
      padding-left: 1.2rem;
    }

    &.sub {
      margin: 0;

      @media screen and(max-width: 480px) {
        li {
          list-style-type: disc;
        }
      }
    }
  }

  .commentator {
    margin-left: 1.5rem;
  }

  .fas {
    // margin-left: -1.25rem;
    padding-right: 5px;
    color: rgb(0, 110, 255);
  }
}