article.post.type-post {
  .entry-header h1 {
    margin: 3rem auto;
    line-height: 1.8;
    text-align: justify;
  }

  .entry-content {
    margin-top: 3rem;
    min-height: 0;
  }

  .entry-content p {
    font-size: 1.1rem;
  }
}

.under-entry-content {
  margin-top: 5rem;
}