.wp-block-group.member {
  margin: 5rem auto;

  .wp-block-image {
    width: 80%;
    margin: auto;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    max-width: 640px;
    margin: auto;
    padding-left: 0;
  }

  li {
    display: flex-cell;
    width: 20%;
    margin: 0;
    text-align: center;
    list-style-type: none;

    @media screen and (max-width:480px) {
      width: 50%;
    }
  }
}
