#organizer {
  .section-in {
    max-width: 840px;
    margin: auto;
  }

  h3,
  h4 {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    text-align: justify;

    &.strong {
      max-width: 240px;
      margin: 30px auto;
    }
  }

  ul {
    max-width: 480px;
    margin: 3rem auto;
    padding-left: 0;
  }

  li {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    list-style-type: none;
  }
}
