#topics {
  width: 100%;
  max-width: 1280px;
  margin: auto;

  .new-entry-cards {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: auto;
    //justify-content: space-around;

    @media screen and (min-width:481px) and (max-width:1080px) {
      max-width: 840px;
    }
  }

  .new-entry-card-title {
    padding: 10px;
    text-align: center;
  }

  .new-entry-card-date,
  .post-date {
    display: block;
    visibility: visible;
    padding: 5px 8px;
    text-align: right;
  }

  .a-wrap {
    border: 1px dotted #dedede;
    transition: .8s;
    margin: 1rem 0.5rem;

    @media screen and (max-width:480px) {
      width: 100%;
    }

    @media screen and (min-width:481px) and (max-width:1080px) {
      width: calc(50% - 1rem);
    }

    @media screen and (min-width:1081px) {
      width: calc(25% - 1rem);
    }
  }

  .a-wrap:hover {
    background: rgba(#0066bf, .1);
  }

  .new-entry-card-thumb {
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}